*,
*::before,
*::after{
  box-sizing: border-box;
}

body{
  background: hsl(218, 23%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  padding: 3rem;
  border-radius: 10px;
}
.advice-id{
  color: hsl(150, 100%, 66%);
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

.advice{
  font-size: 28px;
}